/* Full page background */
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f3f3f3, #e0ddf8, #d4d4f9);
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-size: 16px;
}

.nav-login {
  background: #7b5af7;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* Login Box */
.login-box {
  margin-top: 60px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

/* Options (remember + forgot password) */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 10px 0;
}

.options a {
  text-decoration: none;
  color: #6a5acd;
}

/* Buttons */
.btn-login {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background: #6a5acd;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-google {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: 1px solid #ccc;
  background: rgb(0, 0, 0);
  border-radius: 6px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.btn-google img {
  width: 18px;
  height: 18px;
}

/* Signup text */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #6a5acd;
  text-decoration: none;
}
